<h1>List of photos</h1>

<form action="/insert_photo_record">
  <label for="browser_input">Image</label>
  <input id="browser_input" type="text" name="input_image" placeholder="Enter a URL for the image...">

  <label for="browser_caption">Caption</label>
  <textarea id="browser_caption" name="input_caption" placeholder="Enter a caption for the photo..."></textarea>

  <button>Add photo</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th></th>
  </tr>

  <% @photos.each do |photo| %>
  <tr>
    <td>
      <img src="<%= photo.image %>">
    </td>

    <td>
      <%= photo.caption %>
    </td>

    <td>
      <%= photo.poster.username %>
    </td>

    <td>
      <%= photo.created_at %>
    </td>

    <td>
      <a href="/photos/<%= photo.id %>">
        Show details
      </a>
    </td>
  </tr>
  
  <% end %>
</table>
